*{
    box-sizing: border-box;
}
:root{
	--theme: #097768;
    --highlight: #CB2C57;
    --light: #fff;
    --light-accent: #ddd;
    --medium: #bbb;

    --dark-accent: #666;

    --dark: #000;
    font-family: 'Roboto';

}

#header_bar{
    font-family: 'Roboto';
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: var(--theme);
    top: 0;
    left: 0;
    color: var(--light);
    box-shadow: 0px 0px 10px #888;
}
.header-item > button {
    margin-top: -4px;
}
h1.headline{
    float: left;
    font-weight: 300;
    color: var(--light);
    padding: 0 20px;
    text-decoration: underline;
}
h2{
    font-weight: 300;
}
.header-item > a {
    text-decoration: none;
    color: inherit;
}
.header-item{
    float: right;
    font-size: 18px;
    color:var(--light-accent);
    padding: 28px 10px;
}
.header-item:hover{
    color: var(--light);
    cursor: pointer;
}
#viewer{
    position: fixed;
    float: left;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    width:80%;
}

#metadata{
    width: 20%;
    left: 80%;
    position: absolute;
    top: 80px;
    bottom: 0;
}

.metadata-btn{
    font-family: 'Roboto';
    height: 80px;
    top:80px;
    background-color: var(--theme);
    border: none;
    outline: none;
    color: var(--light-accent);
    font-size: 18px;
}

.active{
  background-color: #45b39d;
}

 .metadata-btn:hover{
 color: var(--light)}

#btn-album{
    width: 50%;
    float: left;
}

#btn-page{
    width: 50%;
}

.page-content{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;
}
.section{
    border-left: 4px solid var(--theme);
    margin-bottom: 10px;
    margin-top: 10px;
    height: fit-content;

}
.border {
        border: 1px solid var(--light-accent);
        border-left: none;
        padding: 4px;
        height: 100%;
}

.user-table{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 0;
}
.user-table > span{
    padding: 6px 4px;
}
.user-table > span.first-row{
    font-weight: 600;
}

.user-table > span > button{
    margin-top: -4px;
}

button{
    border: 1px solid var(--light-accent);
    border-radius: 1px;
    padding: 4px 6px;
    color: var(--dark-accent);
    background-color: var(--light);
    font-family: 'Roboto';
    font-size: 16px;
    margin: 2px;
}
button:hover{
    color: var(--dark);
    border-color: var(--medium);
    cursor: pointer;
    transition: border-color 100ms;
}

input, select, textarea{
    border: 1px solid var(--light-accent);
    border-radius: 1px;
    padding: 4px 6px;
    color: var(--dark-accent);
    background-color: var(--light);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    height: 30px;
}

input:hover, input:focus{
    color: var(--dark);
    border-color: var(--medium);
    transition: border-color 100ms;
}


textarea {
    height: 140px;
    resize: none;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.checkbox{
    width: 30px;
    height: 30px;
    border-radius: 1px;
    border: 1px solid var(--light-accent);
    margin: auto;

}
.checkbox:hover{
    cursor: pointer;
    border-color: var(--medium);
}
 .checked {
    background-image: radial-gradient(var(--medium) 40%, transparent 40%);
    background-position: 0 0;
    background-size: 28px 28px;
}
 .checked:hover{
    background-image: radial-gradient(var(--dark-accent) 40%, transparent 40%);

 }
.login-box{
    width: 300px;
    margin:auto;
    margin-top: 100px;
    border-left: 4px solid var(--theme);
}
.login-box-inner{
    padding: 10px;
    border: 1px solid var(--light-accent);
}

.login-box-inner > input, .login-box-inner > button {
    width: 100%;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 15px;
}
.toolbar:only-child{
    text-align: right;
}



.confirmation {
    display: block;
    width: 50%;
    max-width: 300px;
    margin: auto;
    margin-top: 200px;

    background-color: var(--light);
    border-left: 4px solid var(--theme);
}

.toolbar{
    position: fixed;
    left: 0;
    top: 80px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid var(--light-accent);
    padding-top: 8px;
    padding-bottom: 8px;
}
.toolbar-content{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.toolbar .toolbar-content button{
    float: right;
}


.toolbar .toolbar-content span{
    display: inline-block;
    height: 40px;
    padding: 10px;
}

