<div class="card">
    <div class="border">
        <div class="collection-label">%collection-label%</div>
        <button>Bearbeiten</button>
        <button>Löschen</button>
        <div class="collection-description">%collection-description%</div>
        <div class="collection-number">%collection-number% Items</div>
        <div class="collection-logo"><img src="%collection-logo-url%"></div> <div class="collection-attribution">%collection-attribution%</div>
        <div class="collection-owner-label">&#x1F464;</div> <div class="collection-ownder">%collection-owner%</div>
    </div>
</div>