<div class="editor-background confirm-background" style="display: block;">
    <div class="confirmation">
        <div class="border">
            <div class="editor-label">%confirm-title%</div>
                <div class="editor-grid">
                <span>%confirm-text%</span>
                </div>
                <div class="editor-button">
                    <button id="confirm-button-%confirm-id%">%confirm-confirm%</button>
                    <button id="cancel-button-%confirm-id%">%confirm-cancel%</button>
                </div>
             <script type="text/javascript">
                $("#cancel-button-%confirm-id%").on("click",function(){
                    $(".confirm-background").remove();
                });
            </script>
        </div>
    </div>
</div>

