 <!--Uploading Images to an item-->
        <div class="editor-background" id="upload-editor">
             <div class="editor">
                 <div class="border">
                     <form id="upload" action="" method="POST" enctype="multipart/form-data">
                         <div class="editor-label">Upload Images</div>
                            <div>
                                <label for="fileselect" class="dropzone">Click or drop files here.</label>
                                <input type="file" id="fileselect" class="" name="files" multiple="multiple">
                            </div>
                         <div class="editor-button">
                             <button id="upload-button" type="submit">Upload</button>
                             <button id="cancel-button">Cancel</button>
                         </div>
                     </form>
                 </div>
            </div>
        </div>

        <script type="text/javascript">


         //Cancel Action
         $("#cancel-button").on("click",function(){
             $("#upload-editor").remove();
         });
          //Upload Action
         $('#upload').submit(function(e){
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url:'../api/1.0/images/%upload-collection-id%/%upload-item-id%',
                type:'POST',
                enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                data: formData,
                success:function(){
                    update();
                    $("#upload-editor").remove();
                }
            });

            function previewImages() {

                var $preview = $('.dropzone').empty();

                if (this.files) $.each(this.files, readAndPreview);

                function readAndPreview(i, file) {

                    if (!/\.(jpe?g|png|gif|tif|tiff)$/i.test(file.name)){
                      return alert(file.name +" is not an image");
                    } // else...

                    var reader = new FileReader();

                    $(reader).on("load", function() {
                      $preview.append($("<img/>", {src:this.result, height:100}));
                    });

                    reader.readAsDataURL(file);

                    }

                }

            $('#upload').on("change", previewImages);
        });



        </script>