 <!--Collection Editor for adding and updating Items-->
        <div class="editor-background" id="item-editor">
             <div class="editor">
                 <div class="border">
                     <div class="editor-label">Item</div>
                     <div class="editor-grid">
                         <span>Label:</span><input id="label-in">
                         <span>Description:</span><textarea id="description-in"></textarea>
                         <span>Attribution:</span><input id="attribution-in">
                         <span>Logo-Url:</span><input id="logo-url-in">
                     </div>
                     <div class="editor-button">
                         <button id="save-item-button">Save</button>
                         <button id="cancel-button">Cancel</button>
                     </div>
                 </div>
            </div>
        </div>

        <script type="text/javascript">
             var itemEditorId = "%item-editor-id%";
             //Load data if itemEditorId is not empty
             if(itemEditorId !==""){
                 apiGetItem(itemEditorId,function (item){
                     $("#label-in").val(item["meta"]["label"]);
                     $("#description-in").val(item["meta"]["description"]);
                     $("#attribution-in").val(item["meta"]["attribution"]);
                     $("#logo-url-in").val(item["meta"]["logo"]);
                 }, function () {

                 });
             }


             //Cancel Action
             $("#cancel-button").on("click",function(){
                 $("#item-editor").remove();
             });

            //Save Action
            $("#save-item-button").on("click",function(){
                let label = $("#label-in").val();
                let description = $("#description-in").val();

                let attribution = $("#attribution-in").val();
                let logoUrl = $("#logo-url-in").val();

                if(itemEditorId ==="") {
                    //Create a new item

                    apiAddItem("%item-editor-collection-id%",{
                            "label": label,
                            "description": description,
                            "attribution": attribution,
                            "logo": logoUrl
                        },
                        function () {
                            $("#item-editor").remove();
                            update();
                        },
                        function () {
                        })
                }else{
                     apiUpdateItem(itemEditorId,{
                            "label": label,
                            "description": description,
                            "attribution": attribution,
                            "logo": logoUrl
                        },
                        function () {
                            $("#item-editor").remove();
                            update();
                        },
                        function () {
                        })
                }


            });

        </script>