 <!--Item Editor for adding and updating Items-->
        <div class="editor-background" id="item-editor">
             <div class="editor">
                 <div class="border">
                     <div class="editor-label">Item</div>
                     <div class="editor-grid">
                         <span>Label:</span><input id="label-in">
                         <span>Description:</span><textarea id="description-in"></textarea>
                         <span>Attribution:</span><input id="attribution-in">
                         <span>Logo-Url:</span><input id="logo-url-in">
                     </div>
                      <div class="editor-label">Annotations</div>
                     <div class="editor-grid" id ="annotation-grid">

                     </div>
                     <button id="add-annotation-button">Add Annotation</button>
                      <div class="editor-label">Collaborators</div>
                     <div class="collaborator-grid" id ="collaborator-grid">

                     </div>
                     <button id="add-collaborator-button">Add Collaborator</button>

                     <div class="editor-button">
                         <button id="save-item-button">Save</button>
                         <button id="cancel-button">Cancel</button>
                     </div>
                 </div>
            </div>
        </div>

        <script type="text/javascript">


             var itemEditorId = "%item-editor-id%";
             var annotationsCounter = 0;
             var collaboratorCounter = 0;
             var collaboratorList = [];

             function addCollaborator(name){
                 $("#collaborator-grid").append("<span class='collaborator-label' name='"+name+"' id='collaborator-label-"+collaboratorCounter.toString()+"'>"+
                             name+"<button class='remove-label-button' id='remove-collaborator-button-"+collaboratorCounter.toString()+"'>&#9587;</button></span>");
                 var localCounter = collaboratorCounter;
                 $("#remove-collaborator-button-"+collaboratorCounter.toString()).on("click", function(){
                    var collaboratorName = $("#collaborator-label-"+localCounter.toString()).attr("name");
                    var index = collaboratorList.indexOf(collaboratorName);
                    if (index !== -1) collaboratorList.splice(index, 1);
                    $("#collaborator-label-"+localCounter.toString()).remove();
                    console.log(collaboratorList);
                 });
                 collaboratorCounter++;



             }
             //Load data if itemEditorId is not empty
             if(itemEditorId !==""){
                 apiGetItem(itemEditorId,function (item){
                     $("#label-in").val(item["meta"]["label"]);
                     $("#description-in").val(item["meta"]["description"]);
                     $("#attribution-in").val(item["meta"]["attribution"]);
                     $("#logo-url-in").val(item["meta"]["logo"]);

                     for(var i in item["metadata"]){
                         console.log(item["metadata"][i]["label"]);
                          $("#annotation-grid").append("<input id='annotation-label-"+annotationsCounter.toString()+"' placeholder='label' disabled='true' style='margin-bottom: 10px; margin-right: 10px' value='"+
                              item["metadata"][i]["label"]+"'><input id='annotation-value-"+annotationsCounter.toString()+"' placeholder='value' value='"+
                              item["metadata"][i]["value"]+"'>");
                            annotationsCounter++;
                     }
                     collaboratorList = item["read"]
                     for(var i in item["read"]){
                        addCollaborator(item["read"][i]);

                     }
                    $("#collaborator-grid").append("<input type='text' id='collaborator-input'>");
                 }, function () {


                 });
             }

             $("#add-collaborator-button").on("click", function(){
                     var newCollaborator = $("#collaborator-input").val();
                     if(newCollaborator !== "") {
                         $("#collaborator-input").remove();
                            addCollaborator(newCollaborator);
                         collaboratorCounter++
                         $("#collaborator-grid").append("<input type='text' id='collaborator-input'>");
                         collaboratorList.push(newCollaborator);
                     }
             });


             //Cancel Action
             $("#cancel-button").on("click",function(){
                 $("#item-editor").remove();
             });

            //Save Action
            $("#save-item-button").on("click",function(){
                let label = $("#label-in").val();
                let description = $("#description-in").val();

                let attribution = $("#attribution-in").val();
                let logoUrl = $("#logo-url-in").val();

                //extract annotations
                metadataObject = {}
                for(var i = 0; i  < annotationsCounter; i++){
                   var annotationLabel = $("#annotation-label-"+i.toString()).val();
                   var annotationValue = $("#annotation-value-"+i.toString()).val();
                   if(annotationLabel != ""){
                       metadataObject[annotationLabel] = annotationValue
                   }
                }
                //create metadataObject


                metadataObject["label"] =  label;
                metadataObject["description"] = description;
                metadataObject[ "attribution"] = attribution;
                metadataObject["logo"] = logoUrl;

                if(itemEditorId ==="") {
                    //Create a new item
                    apiAddItem("%item-editor-collection-id%",
                        metadataObject,
                        function () {
                            $("#item-editor").remove();
                            update();
                        },
                        function () {
                        })
                }else{
                     apiUpdateItem(itemEditorId, metadataObject,
                        function () {
                           apiUpdateItemCollaborators(itemEditorId, collaboratorList, function(){
                            $("#item-editor").remove();
                            update();
                            }, function () {

                           });
                        },
                        function () {
                        })
                }
            });
            //Add Annotation Button
             $("#add-annotation-button").on("click",function(){
                 $("#annotation-grid").append("<input id='annotation-label-"+annotationsCounter.toString()+"' placeholder='label' style='margin-bottom: 10px; margin-right: 10px'><input id='annotation-value-"+annotationsCounter.toString()+"' placeholder='value' >");
                 annotationsCounter++;
             });

        </script>